#title-slide, #title-slide h1 {
  color: white;
}

#title-slide {
  padding: 10rem 5rem;
  background: center / cover no-repeat
  url("./assets/banner.jpeg"),
  black 35%
}

table { 
	clear: both;
	border: 1px solid black; 
	margin: 1rem auto 1rem auto;
	width: 100%;
	page-break-inside: avoid;
} 
th, td { 
	padding: 0.5rem;
	border: 1px solid black; 
	max-width: 50%;
}
th {
	background: black;
	color: white;
}
img { 
	clear: both;
	max-width: 100%;
}
p img { 
	margin: 1rem 2rem 0rem 2rem;
	max-width: calc(100% - 4rem);
}
